
  *{-moz-box-sizing:content-box;-ms-box-sizing:content-box;-o-box-sizing:content-box;-webkit-box-sizing:content-box;border:0;box-sizing:content-box;color:inherit;margin:0;padding:0}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font:12px 'Roboto',sans-serif;height:auto}body{cursor:default;font:12px 'Roboto',sans-serif;margin:0;width:100%}a{color:#0d2831;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-webkit-text-size-adjust:none;background-color:transparent;text-decoration:none}a:hover{text-decoration:underline}address{font-style:normal}b,strong{font-weight:500}button,input,mark{background:none}button,label{cursor:pointer}li{list-style:none}img{border:0}button{overflow:visible;box-sizing:border-box;cursor:pointer;font-family:inherit;font-size:inherit;outline:0;text-align:center;background:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button,label{cursor:pointer}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}textarea{overflow:auto}:focus{outline:none}::-moz-focus-inner{border:0}main{padding-top:0!important;padding:0;position:relative;width:100%}mark{background:none}
  /* fuente y color sgh*/
  :root{
    --spectra:"Spectral", serif;
    --montserrat:"Montserrat", sans-serif;
    --roboto:"Roboto", sans-serif;
    --sgh-color:#00A79B;
    --sgh-color2:#162D60;
    --text-color:#6F7070
}
  .imgOculta{opacity:0;visibility:hidden;position:absolute;left:0;top:0;width:1px;height:1px}
  h1,h2,h3,h4,h5,h6{display:inline;font:inherit;margin:0;padding:0}
  .sta-inputFixed{position:fixed;left:-999px;top:0;opacity:0;height:0;width:0}
  body > section{padding-top:96px;padding-bottom: 65px;}
  @media(min-width:601px){
    body > section{padding-top:98px;padding-bottom: 0;}
  }

  html.sta-noScroll,
  html.sta-noScroll body,
  body.sta-noScroll{overflow:hidden}

  /* tpl-topHeader-gh */
  .tpl-topHeader-gh{background:#12284C;text-align:right;font:13px 'Open sans',sans-serif;color:#fff;padding:7px 0;background:#12284C;text-align:right;font:13px 'Open sans',sans-serif;display:none}
  .tpl-topHeader-gh .sta-topHeader-gh_max{padding:0 40px;}
  .tpl-topHeader-gh .sta-header-ft_abs .sta-header-ft_lang{width:100px}
  .tpl-topHeader-gh .sta-idiomas{display:inline-block;vertical-align:baseline;text-transform:uppercase;position:relative;padding-left:20px}
  .tpl-topHeader-gh .sta-idiomas .sta-idioma_larg{display:none}
  .tpl-topHeader-gh .sta-idiomas .sta-idiomas_act{display:block;padding-right:25px}
  .tpl-topHeader-gh .sta-idiomas .sta-idiomas_act:after{content:'';width:0;border-left:4px solid transparent;border-top:4px solid #fff;border-right:4px solid transparent;position:absolute;bottom:6px;right:12px}
  .tpl-topHeader-gh .sta-idiomas .sta-idioma_lista{position:absolute;background:#12284C;top:23px;right:13px;visibility:hidden;opacity:0;overflow:hidden;max-height:0;z-index:251}
  .tpl-topHeader-gh .sta-idiomas input:checked ~ .sta-idioma_lista{visibility:visible;opacity:1;transition:1s;max-height:550px}
  .tpl-topHeader-gh .sta-idiomas .sta-idioma_lista a{color:#fff;text-decoration:none;padding:10px 10px;display:block}
  .tpl-topHeader-gh .sta-idiomas .sta-idioma_lista a[href$="index.php"] {display:none}
  @media(min-width:601px){
    .tpl-topHeader-gh{display:block}
  }
  /* FIN tpl-topHeader-gh */
  /* tpl-header-gh */
  .tpl-header-gh{position:relative;z-index:250;text-align:left}
  .tpl-header-gh.sta-fixed .sta-header-gh_abs{position:fixed;box-shadow:0 -5px 10px 6px #162D60}
  .tpl-header-gh.sta-fixed .sta-header-gh_abs:before{content:none}
  .tpl-header-gh #sta-header-gh_nav:checked ~ .sta-header-gh_abs .sta-header-gh_fixed{visibility:visible}
  .tpl-header-gh #sta-header-gh_nav:checked ~ .sta-header-gh_abs .sta-header-gh_fixed .sta-header-gh_fondo{background:#fff}
  .tpl-header-gh #sta-header-gh_nav:checked ~ .sta-header-gh_abs .sta-header-gh_fixed .sta-header-gh_lateral{opacity:1;transform:none}
  .tpl-header-gh #sta-header-gh_nav:checked ~ .sta-header-gh_abs .sta-header-gh_hambur .sta-header-gh_hamburIcon span:after{top:0;-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);transition:top .5s,transform .5s .5s}
  .tpl-header-gh #sta-header-gh_nav:checked ~ .sta-header-gh_abs .sta-header-gh_hambur .sta-header-gh_hamburIcon span:before{top:0;-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);transition:top .5s,transform .5s .5s}
  .tpl-header-gh .sta-header-gh_abs{position:absolute;left:0;top:0;right:0;padding:40px 20px;transition:background .3s;background:#fff; box-shadow: 0 -5px 10px 6px #162D60;}
  .tpl-header-gh .sta-header-gh_abs:before{content:'';position:absolute;left:0;bottom:0;right:0;/*box-shadow:0 -5px 10px 6px #162D60;*/z-index:-1}
  .tpl-header-gh .sta-header-gh_max{position:relative}
  .tpl-header-gh .sta-header-gh_table{display:table;width:100%}
  .tpl-header-gh .sta-header-gh_lateral .sta-header-gh_table{text-align:left;border-bottom:1px solid var(--sgh-color);height:150px;}
  .tpl-header-gh .sta-header-gh_lateral .sta-header-gh_table svg{fill:#162D60;height:34px;width:112px;margin:57px 0 0 40px;display:block}
  .tpl-header-gh .sta-header-gh_cell{display:table-cell;vertical-align:middle}
  .tpl-header-gh .sta-header-gh_logo a{display:block;pointer-events:visible}
  .tpl-header-gh .sta-header-gh_logo svg{display:block;height:44px;width:112px;transition:.3s;fill:#162D60}
  .tpl-header-gh .sta-header-gh_cell.sta-header-gh_ver{width:50px}
  .tpl-header-gh .sta-header-gh_abs .sta-header-gh_nav,
  .tpl-header-gh .sta-header-gh_abs .sta-header-gh_lang,
  .tpl-header-gh .sta-header-gh_hambur .sta-header-gh_hamburText{display:none}
  .tpl-header-gh .sta-header-gh_hambur{display:block}
  .tpl-header-gh .sta-header-gh_hambur .sta-header-gh_hamburIcon{display:block;height:50px;width:50px;position:relative}
  .tpl-header-gh .sta-header-gh_hambur .sta-header-gh_hamburIcon span{position:absolute;left:50%;top:50%;width:30px;height:2px;margin:-1px 0 0 -40px}
  .tpl-header-gh .sta-header-gh_hambur .sta-header-gh_hamburIcon span:after,
  .tpl-header-gh .sta-header-gh_hambur .sta-header-gh_hamburIcon span:before{content:'';position:absolute;left:0;top:-4px;right:0;background:var(--sgh-color);height:100%;transition:transform .5s,top .5s .5s}
  .tpl-header-gh .sta-header-gh_hambur .sta-header-gh_hamburIcon span:before{top:4px}
  .tpl-header-gh .sta-header-gh_fixed{position:fixed;left:0;top:0;right:0;bottom:0;visibility:hidden}
  .tpl-header-gh .sta-header-gh_fixed .sta-header-gh_fondo{position:absolute;left:0;top:0;right:0;bottom:0;background:transparent;transition:1s}
  .tpl-header-gh .sta-header-gh_fixed .sta-header-gh_lateral{position:absolute;top:0;right:0;left:0;bottom:0;overflow:auto;opacity:0;transition:1s;transform:scale(.9)}
  .tpl-header-gh .sta-header-gh_lateralNav{text-align:center;border-bottom:1px solid #162D60;padding-bottom:0}
  .tpl-header-gh .sta-header-gh_liNav .sta-header-gh_nombreSeccion{color:var(--sgh-color);font:14px var(--spectra),sans-serif;letter-spacing:.01em;display:block;padding:35px 0 13px;text-decoration:none}
  .tpl-header-gh .sta-header-gh_liNav .sta-header-gh_nombreSeccion span{position:relative;}
  .tpl-header-gh .sta-header-gh_fixed .sta-header-gh_liNav:not(:last-of-type){border-bottom:1px solid #162D60}
  .tpl-header-gh .sta-header-gh_liNav.sta-child{position:relative}
  .tpl-header-gh .sta-header-gh_liNav.sta-child .sta-header-gh_liSubNav{display:block;overflow:hidden;max-height:0;transition:max-height 1s cubic-bezier(0,1.16,.3,.96);position:relative}
  .tpl-header-gh .sta-header-gh_liNav.sta-child .sta-header-gh_liSubNav li a{font:12px 'Roboto',sans-serif;letter-spacing:.05em;color:#162D60;text-decoration:none;display:block;padding:8px 5px}
  .tpl-header-gh .sta-header-gh_liNav.sta-child .sta-header-gh_liSubNav li:last-of-type a{margin-bottom:7px}
  .tpl-header-gh .sta-header-gh_liSubNav{display:none}
  .tpl-header-gh .sta-header-gh_liNav.sta-child input:checked ~ .sta-header-gh_liSubNav{max-height:999px;transition:max-height 1s cubic-bezier(.95,.18,.95,.38)}
  .tpl-header-gh .sta-header-gh_liNav .sta-header-gh_labelSeccion{display:none}
  .tpl-header-gh .sta-header-gh_liNav.sta-child .sta-header-gh_labelSeccion{display:block;position:absolute;top:9px;bottom:0;right:5px;width:32px;height:32px;background:transparent;border:1px solid #162D60;transition:.3s}
  .tpl-header-gh .sta-header-gh_liNav.sta-child .sta-header-gh_labelSeccion:hover{background:#162D60}
  .tpl-header-gh .sta-header-gh_liNav.sta-child .sta-header-gh_labelSeccion:after{content:'\e0f8';font:6px/1px Icons;position:absolute;top:50%;right:12px;color:#162D60;transition:transform .3s}
  .tpl-header-gh .sta-header-gh_liNav.sta-child .sta-header-gh_labelSeccion:hover:after{color:#fff}
  .tpl-header-gh .sta-header-gh_liNav.sta-child input:checked ~ .sta-header-gh_labelSeccion:after{transform:rotate(180deg);transition:transform .3s}
  .tpl-header-gh .sta-header-gh_abs .sta-header-gh_fixed .sta-header-gh_lang{display:block}
  .tpl-header-gh .sta-header-gh_abs .sta-header-gh_max .sta-header-gh_lang{transition:.3s}
  .tpl-header-gh .sta-header-gh_table2{display:table;width:100%;height:80%;max-width:340px;margin:30px auto 0}
  .tpl-header-gh .sta-header-gh_cell2{display:table-cell;vertical-align:middle}
  .tpl-header-gh .sta-idiomas{display:inline-block;position:relative;font:bold 16px 'Roboto',sans-serif;min-width:60px}
  .tpl-header-gh .sta-header-gh_max .sta-idiomas{color:#162D60;border:solid 1px #162D60}
  .tpl-header-gh .sta-idiomas .sta-idiomas_act{position:relative;padding:5px 23px 5px 5px;display:block;border:1px solid #162D60;position:relative;transition:background 1s, color 1s}
  .tpl-header-gh .sta-idiomas .sta-idiomas_act:before{content:'\e004';font:15px/1px Icons;position:absolute;top:50%;right:5px}
  .tpl-header-gh .sta-idiomas .sta-idioma_larg{display:none}
  .tpl-header-gh .sta-idiomas .sta-idioma_lista{overflow:hidden;max-height:0;transition:max-height 1s cubic-bezier(0,1.16,.3,.96)}
  .tpl-header-gh .sta-idiomas input:checked ~ .sta-idioma_lista{max-height:500px;transition:max-height 1s cubic-bezier(.95,.18,.95,.38)}
  .tpl-header-gh .sta-idiomas .sta-idioma_lista a{display:block;color:#162D60;text-decoration:none ;padding:5px 7px;background:#fff;border:1px solid #fff;border:1px solid #001689;border-top:0}
  .tpl-header-gh .sta-idiomas input:checked ~ .sta-idiomas_act{background:#162D60;color:#fff}
  .tpl-header-gh .sta-header-gh_max .sta-idiomas .sta-idioma_lista a{color:#fff;background:#162D60;border:1px solid #162D60}
  .tpl-header-gh .sta-idiomas input:checked ~ .sta-idioma_lista{max-height:999px;transition:max-height 1s cubic-bezier(.95,.18,.95,.38)}
  .tpl-header-gh.sta-notIdiomas .sta-header-gh_lang{display:none!important}
  .tpl-header-gh .sta-header-gh_lang{display:block;margin:30px auto 0 ;text-align:center;color:#162D60;position:relative}
  .tpl-header-gh .sta-header-gh_logoIdioma{position:absolute;top:0;left:calc(50% - 80px);width:25px}
  .tpl-header-gh .sta-header-gh_logoIdioma svg{fill:#fff}
  .tpl-header-gh .sta-header-gh_max .sta-header-gh_liNav.sta-oculto{display:none}
  @media(min-width:821px){
    .tpl-header-gh .sta-header-gh_abs{border-top:none}
    .tpl-header-gh.sta-noVerMas .sta-header-gh_ver{display:none} 
    .tpl-header-gh.sta-noVerMas .sta-header-gh_nav .sta-header-gh_contNav{margin:0 auto} 
    .tpl-header-gh.sta-noVerMas.sta-notIdiomas .sta-header-gh_nav .sta-header-gh_contNav{margin-right:0}
    .tpl-header-gh.sta-noVerMas .sta-header-gh_max .sta-header-gh_liNav:last-of-type:after{content:none}
    .tpl-header-gh .sta-header-gh_max .sta-idiomas input:checked ~ .sta-idioma_lista{transition:max-height .5s cubic-bezier(.76,.34,.94,.2)}
    .tpl-header-gh .sta-header-gh_abs{padding:0 40px}
    .tpl-header-gh .sta-header-gh_abs .sta-header-gh_fixed .sta-header-gh_lang{display:none}
    .tpl-header-gh .sta-header-gh_logo svg{width:150px;height:74px}
    .tpl-header-gh.sta-logoFixed svg{fill:transparent;transition:.3s all}
    .tpl-header-gh.sta-logoFixed.sta-fixed svg{fill:#162D60}
    .tpl-header-gh .sta-header-gh_cell.sta-header-gh_logo{width:140px}
    .tpl-header-gh.sta-fixed .sta-header-gh_logo{width:140px;display:table-cell;vertical-align:middle}
    .tpl-header-gh .sta-header-gh_table{text-align:right}
    .tpl-header-gh .sta-header-gh_abs .sta-header-gh_nav{display:table-cell;text-align:right}
    /* .tpl-header-gh .sta-header-gh_max{max-width:1018px;margin:0 auto} */
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_nav .sta-header-gh_contNav{display:table;margin-right:0;height:98px;transition:height .3s;margin-left:auto}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_liNav{display:table-cell;vertical-align:middle;position:relative;text-align:center}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_liNav .sta-header-gh_nombreSeccion{position:relative;font: 14px 'Roboto',sans-serif;color:#162D60;display:block;padding:10px 15px;text-transform: uppercase;}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_liNav .sta-header-gh_nombreSeccion span{position:relative;transition:color .5s;font-weight:400;}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_liNav .sta-header-gh_nombreSeccion:before{content:'';position:absolute;bottom:-8px;height:1px;background-color:var(--sgh-color);transition:all .5s;left:50%;right:50%}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_liNav:hover .sta-header-gh_nombreSeccion span{color:var(--sgh-color);}
    /* .tpl-header-gh .sta-header-gh_max .sta-header-gh_liNav:hover .sta-header-gh_nombreSeccion:before{left:15px;right:15px;transition:all .5s} */
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_liNav.sta-actual .sta-header-gh_nombreSeccion span:before{content:'';position:absolute;bottom:-8px;left:15px;right:15px;height:1px;background-color:var(--sgh-color)}
    .tpl-header-gh .sta-idioma_lista a{text-align:center}
    .tpl-header-gh .sta-header-gh_fixed .sta-header-gh_liNav.sta-child .sta-header-gh_nombreSeccion span:after{content:none}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_liNav.sta-child .sta-header-gh_liSubNav{position:absolute;top:100%;width:220px;right:18px;overflow:hidden;max-height:0;transition:none;margin-top:-20px;filter:drop-shadow(0 1px 7px rgba(0,0,0,.5))}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_liNav.sta-child .sta-header-gh_liSubNav:before{content:'';position:absolute;top:0;right:0;border:6px solid;border-color:transparent #fff #fff transparent}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_liNav.sta-child:hover .sta-header-gh_liSubNav{max-height:999px;padding-top:12px;transition:max-height .5s cubic-bezier(.76,.34,.94,.2), padding-top .5s ease}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_liNav.sta-child .sta-header-gh_liSubNav:after{content:none}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_liNav.sta-child .sta-header-gh_liSubNav li{position:relative;background:#fff}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_liNav.sta-child .sta-header-gh_liSubNav li:first-of-type{padding-top:7px}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_liNav.sta-child .sta-header-gh_liSubNav li:last-of-type{padding-bottom:7px}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_liNav.sta-child .sta-header-gh_liSubNav li a{font:300 13px 'Roboto',sans-serif;color:#000;display:block;padding:7px 15px 7px 5px;text-align:right;letter-spacing:normal}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_ver{width:110px;text-align:center;padding:5px;position:relative}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_ver .sta-header-gh_hambur:after{content:'';position:absolute;top:0;left:0;right:0;bottom:0}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_ver .sta-header-gh_hamburText{display:inline-block;font:13px 'Roboto',sans-serif;color:#00A79B;position:relative;padding-right:15px;text-transform:uppercase}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_ver .sta-header-gh_hamburText:after{transition:transform .3s;content:'\e0f8';font:9px/1px Icons;display:inline-block;position:absolute;top:50%;right:0}
    .tpl-header-gh input:checked ~ .sta-header-gh_abs .sta-header-gh_max .sta-header-gh_ver .sta-header-gh_hamburText:after{transform:rotate(180deg)}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_lang{display:none;margin:0;width:95px;text-align:right;padding:0}
    .tpl-header-gh .sta-header-gh_fixed .sta-header-gh_lateral{transform:none;left:auto;width:330px;opacity:1;background:#fff;right:-350px}
    .tpl-header-gh #sta-header-gh_nav:checked ~ .sta-header-gh_abs .sta-header-gh_fixed .sta-header-gh_fondo{background:rgba(0,0,0,.5)}
    .tpl-header-gh #sta-header-gh_nav:checked ~ .sta-header-gh_abs .sta-header-gh_fixed .sta-header-gh_lateral{right:0}
    .tpl-header-gh .sta-header-gh_max .sta-header-gh_ver .sta-header-gh_hamburIcon{display:none}
    .tpl-header-gh .sta-header-gh_fixed .sta-header-gh_logo svg{display:none}
    .tpl-header-gh .sta-header-gh_max .sta-idiomas .sta-idioma_lista{width:auto}
    .tpl-header-gh.sta- .sta-header-gh_max .sta-idiomas{width:80px}
    .tpl-header-gh .sta-header-gh_liNav.sta-child .sta-header-gh_nombreSeccion span:before{right:-13px}
    .tpl-header-gh .sta-header-gh_table2{max-width:265px;height:auto}
    .tpl-header-gh .sta-header-gh_fixed .sta-header-gh_cell.sta-header-gh_logo{display:none}
    .tpl-header-gh .sta-header-gh_fixed .sta-header-gh_hambur .sta-header-gh_hamburIcon{margin-left:auto}
    .tpl-header-gh .sta-header-gh_lateral .sta-header-fhe_logo{display:none}
  }

  /* tpl-header-gh */
/* .tpl-cabeText */
@keyframes tplCabeText_arrow{
  0%,100%{margin-top:0}
  25%{margin-top:10px}
  75%{margin-top:-10px}
}
.tpl-cabeText{font:17px/20px 'Roboto',sans-serif;color:#707070;overflow:hidden;padding-bottom:40px;}
.tpl-cabeText.v2{color:#fff;font-weight:bold;font-size:18px;position:relative}
.tpl-cabeText .sta-cabeText_textMax{padding:20px;}
.tpl-cabeText .sta-cabeText_textMax section{font-size: 14px;overflow: hidden;}
.tpl-cabeText.v2 .sta-cabeText_textMax{max-width:none;position:relative;z-index:1;padding:85px 35px 60px 30px}
.tpl-cabeText article{transform:translateX(-300px);opacity:0}
.tpl-cabeText.v2 article{padding:0 0 20px}
.tpl-cabeText .sta-cabeText_subTitle{display:none}
.tpl-cabeText article header{margin-bottom:20px;}
.tpl-cabeText.v2 article header,
.tpl-cabeText.v3 article header{color:#fff;padding-top: 30px;}
.tpl-cabeText .sta-cabeText_goDown{display:none;width:64px;height:64px;background:#2B2B2B}
.tpl-cabeText .sta-cabeText_goDown:before{content:'\e0f7';font:26px Icons;color:#fff;display:inline-block}
.tpl-cabeText.v2 .sta-cabeText_goDown{background:#fff;display:block}
.tpl-cabeText.v2 .sta-cabeText_goDown:before{color:#2B2B2B}
.tpl-cabeText .sta-cabeText_back{height:400px;background-position:center;background-repeat:no-repeat;background-size:cover;position:relative;overflow:hidden}
.tpl-cabeText.noButton .sta-cabeText_goDown{display:none}
.tpl-cabeText.v2 .sta-cabeText_back{position:absolute;top:0;left:0;right:0;height:100%}
.tpl-cabeText .sta-cabeText_back,
.tpl-cabeText .sta-cabeText_goDown{transform:translateX(300px);opacity:0}
.tpl-cabeText.sta-active article,
.tpl-cabeText.sta-active .sta-cabeText_back,
.tpl-cabeText.sta-active .sta-cabeText_goDown{transform:none;opacity:1;transition:transform 1s, opacity 1s;}
.tpl-cabeText.sta-active .sta-cabeText_back{margin:0 auto;width:100%;width:350px;height: 300px;}
.tpl-cabeText .sta-cabeText_button{display: none;color: #00A79B;font-size: 11px;position: relative;margin: 20px 0 0; text-transform: uppercase;}
.tpl-cabeText .sta-cabeText_button:after{content:'\e084';padding-left: inherit;font: 18px/1px Icons;padding-left: 10px;vertical-align: middle;transition: margin-top .5s;/* rotate: 90deg; */display: inline-block;margin-top: 0; content: none;}
.tpl-cabeText .sta-cabeText_button.fn-readMore_bLong:after{rotate: 270deg;margin-top: 0;}
.tpl-cabeText .sta-cabeText_button.sta-show{display: inline-block;}
.tpl-cabeText .sta-cabeText_button:hover.fn-readMore_bShort:after{margin-top: 0px;}
.tpl-cabeText .sta-cabeText_button:hover.fn-readMore_bLong:after{margin-top: -12px;}
.tpl-cabeText .sta-cabeText_firma{color: #fff;font-size: 10px;padding: 20px 0 0;position: absolute;z-index: 1;bottom: 10px;left: 10px;}
@media(min-width:821px){
  .tpl-cabeText.js-displayNone{display: block;}
  .tpl-cabeText article header{font-size: 30px;}
  .tpl-cabeText article .fn-readMore_content{column-count: 2;text-wrap: pretty;}
}
@media(min-width:901px){
  .tpl-cabeText{position:relative;display:flex;justify-content:space-between;}
  .tpl-cabeText > div{display: flex;}
  .tpl-cabeText .sta-cabeText_textMax{max-width:50%;position:relative;padding:75px 20px 20px;}
  .tpl-cabeText.v2 .sta-cabeText_textMax{padding:0;max-width:900px}
  .tpl-cabeText article header{margin-bottom:30px;}
  .tpl-cabeText article{padding:0;display:flex;flex-direction:column;justify-content:center;min-height:500px;box-sizing:border-box}
  .tpl-cabeText.v2 article{padding:50px 40% 70px 0;justify-content:flex-end}
  .tpl-cabeText.v3 article{padding-left:0}
  .tpl-cabeText .sta-cabeText_subTitle{display:none;margin-bottom:57px}
  .tpl-cabeText .sta-cabeText_subTitle svg{fill:#2B2B2B;height:52px}
  .tpl-cabeText.v3 header,
  .tpl-cabeText.v3 section{padding-right:90px}
  .tpl-cabeText.v2 section{padding-right:70px}
  .tpl-cabeText .sta-cabeText_goDown{display:block;position:absolute;right:0;bottom:95px;z-index:1}
  .tpl-cabeText.v3 .sta-cabeText_goDown,
  .tpl-cabeText.noButton .sta-cabeText_goDown{display:none}
  .tpl-cabeText .sta-cabeText_goDown:hover:before,
  .tpl-cabeText .sta-cabeText_goDown:focus:before{animation:tplCabeText_arrow 2s linear infinite}
  .tpl-cabeText .sta-cabeText_back{position:relative;width:50%;height:auto}
  .tpl-cabeText.v2 .sta-cabeText_back{left:0;width:100%}
  .tpl-cabeText.v2 .sta-cabeText_textMax{z-index:1}
  .tpl-cabeText.sta-active .sta-cabeText_back{width: 550px;height: 587px;margin: 75px 0 0 0;}
  .tpl-cabeText article .fn-readMore_content{column-count: 1;}}
@media(min-width: 1101px){
  .tpl-cabeText{padding:0 40px 70px;}
  .tpl-cabeText .sta-cabeText_textMax{padding-left:0;}
  .tpl-cabeText .sta-cabeText_textMax section{max-width:536px;}
  
}

/* FIN .tpl-cabeText */  
  /* .tpl-cabecera-gh */
  .tpl-cabecera-gh{background:#fff;font:17px/20px 'Roboto',sans-serif;padding-top:100px;color:#707070;counter-reset:tplCabeceraGh}
  .tpl-cabecera-gh .sta-cabecera-gh_slide article{padding:30px;max-width:500px}
  .tpl-cabecera-gh .slick-list{position:relative;overflow:hidden;z-index:1}
  .tpl-cabecera-gh .slick-slide{min-height:1px;outline:none;display:inline-block;vertical-align:top}
  .tpl-cabecera-gh .slick-slide{opacity:0;transition:opacity .5s}
  .tpl-cabecera-gh .slick-slide.slick-active{opacity:1}
  .tpl-cabecera-gh .sta-cabecera-gh_slide:not(.slick-initialized) > .sta-cabecera-gh_elem:not(:first-child),
  .tpl-cabecera-gh .sta-cabecera-gh_subTitle{display:none}
  .tpl-cabecera-gh .sta-cabecera-gh_slide header{margin-bottom:13px}
  .tpl-cabecera-gh .sta-cabecera-gh_slide header .sta-cabecera-gh_preTitle{text-transform:uppercase;margin-bottom:13px}
  .tpl-cabecera-gh .sta-cabecera-gh_slide header .sta-cabecera-gh_preTitle:empty{display:none}
  .tpl-cabecera-gh .sta-cabecera-gh_slide header .sta-cabecera-gh_title{font:50px/51px 'DM Serif Display',serif;color:#000}
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer{display:table;width:100%;margin-top:10px}
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_contadorCont{font:80px/105px 'DM Serif Display', serif;color:#707070;display:table-cell;vertical-align:bottom;text-align:left}
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_contador[data-total=''],
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_contador[data-total='1']{display:none}
  @supports(-webkit-text-stroke:1px #707070){
    .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_contadorCont{color:transparent;-webkit-text-stroke:1px #707070}
  }
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_contador{display:inline-block;position:relative}
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_contador[data-total=''],
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_contador[data-total='1']{display:none}
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_contador:before{counter-increment:tplCabeceraGh;content:counter(tplCabeceraGh)}
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_contador:after{content:"/" attr(data-total)}
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_contadorCont .slick-prev{display:none!important}
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_contadorCont .slick-next{position:absolute;top:50%;left:100%;color:transparent;-webkit-text-stroke:transparent;font-size:1px;font-size:0;width:50px;height:50px;margin:-25px 0 0 20px}
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_contadorCont .slick-next:after{content:'\e084';font:40px Icons;color:#707070}
  @supports(-webkit-text-stroke:1px #707070){
    .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_contadorCont .slick-next:after{color:transparent;-webkit-text-stroke:1px #707070}
  }
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_enlace{display:table-cell;vertical-align:bottom;text-align:right}
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_enlace a{text-decoration:none;color:#162D60;font-weight:bold;letter-spacing:1.4px;text-transform:uppercase}
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_enlace a:after{content:'\e103';font:26px Icons;vertical-align:middle;margin-left:20px}
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_enlace a[href='']{display:none}
  .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_enlace a:empty:before{content:attr(text-default)}
  .tpl-cabecera-gh .sta-cabecera-gh_img{background-position:center;background-repeat:no-repeat;background-size:cover;height:373px;position:relative}
  .tpl-cabecera-gh .sta-cabecera-gh_img .sta-cabecera-gh_abs{position:absolute;left:25px;right:30px;bottom:30px}
  .tpl-cabecera-gh .sta-cabecera-gh_img .sta-cabecera-gh_max{display:table;width:100%;max-width:500px}
  .tpl-cabecera-gh .sta-cabecera-gh_img .sta-cabecera-gh_max .sta-cabecera-gh_logo{display:table-cell;vertical-align:bottom}
  .tpl-cabecera-gh .sta-cabecera-gh_img .sta-cabecera-gh_max .sta-cabecera-gh_logo svg{display:block;width:180px;height:104px;fill:#fff;transition: .3s;}
  /* .tpl-cabecera-gh .sta-cabecera-gh_img .sta-cabecera-gh_max .sta-cabecera-gh_btnContent{display:table-cell;vertical-align:bottom;text-align:right} */
  .tpl-cabecera-gh .sta-cabecera-gh_img .sta-cabecera-gh_max .sta-cabecera-gh_btnContent{display:table-cell;vertical-align:bottom;text-align:center}
  .tpl-cabecera-gh .sta-cabecera-gh_img .sta-cabecera-gh_max .sta-cabecera-gh_btn{margin-bottom:20px;color:#fff;text-transform:uppercase;letter-spacing:1.4px;font-weight:bold;margin-left: 15px;}
  .tpl-cabecera-gh .sta-cabecera-gh_img .sta-cabecera-gh_max .sta-cabecera-gh_btn[data-video='']{display:none}
  .tpl-cabecera-gh .sta-cabecera-gh_img .sta-cabecera-gh_max .sta-cabecera-gh_btn:after{content:'\e103';font:26px Icons;vertical-align:middle;margin-left:6px}
  @media(min-width:801px){
    .tpl-cabecera-gh{padding-right:50%;position:relative}
    .tpl-cabecera-gh .sta-cabecera-gh_subTitle{display:block;margin-bottom:57px}
    .tpl-cabecera-gh .sta-cabecera-gh_subTitle svg{fill:#162D60;height:52px}
    .tpl-cabecera-gh .sta-cabecera-gh_slide{max-width:490px;margin:0 0 0 auto}
    .tpl-cabecera-gh .sta-cabecera-gh_slide article{min-height:604px;box-sizing:border-box;display:flex;flex-direction:column;justify-content:flex-start;padding-right:60px}
    .tpl-cabecera-gh .sta-cabecera-gh_slide header{margin-bottom:25px}
    .tpl-cabecera-gh .sta-cabecera-gh_slide header .sta-cabecera-gh_preTitle{font-size:14px}
    .tpl-cabecera-gh .sta-cabecera-gh_slide header .sta-cabecera-gh_title{line-height:58px}
    .tpl-cabecera-gh .sta-cabecera-gh_slide footer{margin-top:auto;margin-bottom:0}
    .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_enlace{padding-bottom:25px}
    .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_contador{font-size:103px;line-height:136px}
    .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_contadorCont .slick-next{width:70px;height:70px;margin-top:-35px}
    .tpl-cabecera-gh .sta-cabecera-gh_slide footer .sta-cabecera-gh_contadorCont .slick-next:after{font-size:55px}
    .tpl-cabecera-gh .sta-cabecera-gh_img{position:absolute;left:50%;top:0;right:0;bottom:0;height:auto}
    
    .tpl-cabecera-gh .sta-cabecera-gh_img .sta-cabecera-gh_max{max-width:none}
    
    .tpl-cabecera-gh .sta-cabecera-gh_img .sta-cabecera-gh_max .sta-cabecera-gh_btn{margin-bottom:35px}
  }
  @media(min-width:916px){
    .tpl-cabecera-gh .sta-cabecera-gh_img .sta-cabecera-gh_abs{left:50px;right:70px;bottom:55px}
    .tpl-cabecera-gh .sta-cabecera-gh_img .sta-cabecera-gh_max .sta-cabecera-gh_logo svg{width:294px;height:170px;transition: .3s;}
  }


